/* PAGE CONFIG */
* {
	color: white;
}
body {
	background-color: #fcfcfc;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	font-weight: 500;
	color: white;
}
/* PAGE CONFIG END */

/* HEADER */
#header {
	padding: 10px;
	background-color: #9604ed;
}
#header-text {
	margin-top: 10px;
}
#header-desc {
	text-align: justify;
}
#image-github {
	position: relative;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}
#text-over-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -10%);
	z-index: -1;
}
#text-over-image a,
#text-over-image a:hover {
	font-weight: 400;
	font-size: 1.2rem;
	color: white;
}
#profile-photo {
	width: 100%;
	border-radius: 100%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-content: center;
	transition: 500ms;
	border: 5px solid white;
}
/* HEADER END */

/* CARDS */
.my-card {
	height: 700px;
	background-color: #fcfcfc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	color: #9604ed;
}
.my-card p,
.my-card h4 {
	display: flex;
	justify-content: center;
	color: #9604ed;
}
.my-card:hover,
.my-card:hover * {
	background-color: #8d03dd;
	color: white;
}
.my-card:hover img {
	background: none;
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(344deg) brightness(107%) contrast(101%) !important;
}
.my-card p img {
	margin-left: 5px;
	filter: invert(9%) sepia(92%) saturate(7487%) hue-rotate(275deg) brightness(114%) contrast(116%) !important;
}
.my-card:hover p img {
	background: none;
	filter: invert(99%) sepia(3%) saturate(0%) hue-rotate(275deg) brightness(104%) contrast(101%) !important;
}
#card-icons {
	width: 150px;
	filter: invert(25%) sepia(67%) saturate(5891%) hue-rotate(272deg) brightness(79%) contrast(130%);
	margin: 0px 0px 20px 20px;
}

/* CARDS END */

/* FOOTER */
.footer,
.footer *,
.footer:hover * {
	background-color: #fcfcfc;
	text-align: center;
	color: gray;
	font-size: 18px;
}
/* FOOTER END */

/* EFFECTS */
.blurred {
	filter: blur(2px);
	transition: 500ms;
}
.index-show {
	transition: 500ms;
	transform: translate(-50%, -50%) !important;
	z-index: 1 !important;
}
/* EFFECTS END */

/* ICONS */
#icon {
	width: 1.1rem;
	margin-bottom: 4px;
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(100%) contrast(103%);
}
#link-icon {
	width: 0.8rem;
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(100%) contrast(103%);
}
/* ICONS END */
